<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Banking Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
       body
       {
        background-image: url("../static/img/chatbots.png");
        background-size: cover; 
       }
   </style>
</head>

<body>
  <div style="height:100vh ;"></div>
 <script>
  window.watsonAssistantChatOptions = {
    integrationID: "5134bf41-57bd-4c92-8bc0-598a18abeb3b", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "938f0cce-9f65-4e00-bee6-3c52700a398d", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</body>

</html>
